body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}
/* .navbar{
    position: fixed;
} */
.navbar {
    position: -webkit-sticky; /* Untuk browser yang mendukung Webkit */
    position: sticky;
    top: 0;
    z-index: 1000; /* Agar navbar selalu berada di atas elemen lainnya */
}

header {
    background: linear-gradient(to bottom, #001069, #246aeb, #0c3177);
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: -20px;
    padding: 10px 0; /* Tambahan padding agar konten tidak terlalu dekat dengan tepi */
}

nav ul {
    list-style: none;
    padding: 8px 0;
    margin: 0;
    display: flex;
    justify-content: space-around; /* Agar elemen dalam navbar tersebar merata */
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 0.8em;
    padding: 20px 40px;
    box-shadow: 0 0px 3px 3px #0a68c7;
    background: linear-gradient(to bottom, #041574, #3786d4, #032568);
    transition: color 0.3s, transform 0.3s;
    margin: 0;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
}

nav ul li a:hover {
    color: #ecf0f1;
    background: linear-gradient(to bottom, #0d161d, #2a9eeb, #2f97ec);
    box-shadow: 0 3px 0 #002244;
    transform: translateY(-2px);
}

main {
    padding: 20px;
}
section {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

section h2 {
    font-size: 2em;
    color: #0072bc;
    text-shadow: 1px 1px 1px #ccc;
}

section p {
    font-size: 1.1em;
    line-height: 1.6;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(to bottom, #0072bc, #004c8c);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 3px 0 #003366;
    transition: all 0.3s ease;
}

.button:hover {
    background: linear-gradient(to bottom, #004c8c, #0072bc);
    box-shadow: 0 3px 0 #002244;
    transform: translateY(-2px);
}
.button2 {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(to bottom, #ff04de, #a454ff);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 3px 0 #003366;
    transition: all 0.3s ease;
}

.button2:hover {
    background: linear-gradient(to bottom, #ff04de, #a454ff);
    box-shadow: 0 3px 0 #002244;
    transform: translateY(-2px);
}

footer {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

.container {
    width: 70%;
    margin-left: 15pc;
}
.bingkaifoto .kotakfoto {
    height: 200px;
    width: 100%;
    margin-top: 1rem;
}
.foto1{
    max-width: 40pc;
    max-height:40pc;
}
.foto11{
    max-width: 20pc;
    max-height:20pc;
}
.foto{
    max-width: 100%;
}
@media (max-width: 768px){
    .foto{
        max-width: 29pc;
    }
    .foto1{
        max-width: 21pc;
        max-height:21pc;
    }
    .foto11{
        max-width: 17pc;
        max-height:17pc;
    }
    .container{
        margin: 0 auto;
    }
    nav ul li a{
        padding: 10px 15px;
    }
    nav ul{
        /* padding: 4px 0; */
        margin-left: -20%;
    }
}